{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MealMate</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>

<div class="form-box">
    <h1>SIGN IN</h1>

    {% if error %}
        <p>{{error}}</p>    
    {% endif %}

    <form method="POST" action="{% url 'users:handle_signin' %}">
        {% csrf_token %}

        <label>NAME:</label>
        <input type="text" name="username" required />

        <label>PASSWORD:</label>
        <input type="text" name="password" required />

        <button type="submit">SUBMIT</button>
    </form>

    <div class="signup-link">
        <a href="{% url 'users:signup' %}">New here? Sign Up</a>
    </div>
</div>

</body>
</html>




